body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.6rem;
}

html{
	font-size: 62.5%;
}

p, a, li{
	font-size: 1.4rem;
}

.container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-textbox {
  position: relative;
  margin: 25px 0;
}

.md-textbox :is(label, span) {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
  color: #888888;
  transition: 0.3s;
}

.md-textbox > label {
  left: 10px;
  translate: 0 -50%;
  padding: 4px 8px;
}

.md-textbox > span {
  right: 16px;
  font-size: 28px;
}

.md-textbox > input {
  height: 56px;
  width: 260px;
  padding-left: 16px;
  border: 2px solid #888888;
  border-radius: 8px;
  outline: none;
  background: transparent;
  color: black;
  font-family: inherit;
  font-size: 16px;
}

.md-textbox > :is(input:focus, .has-value) {
  border-color: rgb(138, 227, 235);;
}

.md-textbox > :is(input:focus, .has-value) ~ span {
  color: #f9f9f9;
}

.md-textbox > :is(input:focus, .has-value) ~ label{
  background: rgb(138, 227, 235);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.75);
  translate: 0 -46px;
  min-width: 12px;
}

.md-textbox > :is(input:focus, .has-value) ~ label > .subindex {
  background: rgb(138, 227, 235);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.75);
  translate: 0 -1px;
  right: 3px;
}

.subindex{
  font-size: 1rem;
  position: absolute;
  right: 2px;
  bottom: 20px;
}

.primary-button {
	background-color:rgb(138, 227, 235);
	border-radius: 8px;
	border: none;
	color: black;
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
  transition: 0.3s;
}

.primary-button:hover{
  background-color: #0d0d0e;
	color: #f9f9f9;
}